/* .navbar-toggler {
  transition: 5500ms;
} */

/* COLORS
BACKGROUND COLOR
rgba(37, 40, 57, 1);

BUTTONS
#2aa0ec
HOVER/ACTIVE
#2a9eeccd;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Google Fonts */
  /* font-family: "Passion One", cursive; */
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  /* font-family: "Fira Sans", sans-serif; */
  /* font-family: "Passion One", cursive; */
  /* 1 rem = 10px */
  color: white;
  /* background-color: rgba(37, 40, 57, 1); */
  /* background: linear-gradient(rgb(59 38 211), rgb(0 0 0));
  background: linear-gradient(rgba(37, 40, 57, 1), rgb(0 0 0)); */
  /* background: linear-gradient(-45deg, #1382aa, #23a6d5, #1c83a9, #23d5cf); */
  /* background: linear-gradient(-45deg, #4309ae, #5515cc, #641beb, #23a6d5); */
  /* background: linear-gradient(-45deg, #4309ae, #5515cc, #0072fe, #0072fe); */
  /* background: linear-gradient(-45deg, #4495f8, #2781f0, #0072fe, #0062d9); */
  background: linear-gradient(-45deg, #2781f0, #002e8be3, #002e8be3, #001030e3);
}

/* NAVIGATION SECTION */
.navbar {
  color: white;
  background-color: rgba(37, 40, 57, 0.9);
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100vw;
  opacity: 100%;
}

.navbar-brand {
  color: white;
  font-size: 4.4rem;
}

.navbar-brand:link,
.navbar-brand:visited {
  color: rgba(255, 255, 255);
  text-decoration: solid;
}

.navbar-brand:hover,
.navbar-brand:active {
  color: rgba(255, 255, 255, 0.661);
  text-decoration: solid;
}

/* Moves nav-items to the right */
.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  column-gap: 3rem;
  margin-right: 2rem;
}

/* LVHA */
.nav-link {
  text-align: center;
  color: white;
  font-size: 2.4rem;
}

.nav-link:link,
.nav-link:visited {
  color: white;
  text-decoration: solid;
}
.nav-link:hover,
.nav-link:active {
  color: rgba(255, 255, 255, 0.661);
  text-decoration: solid;
}

.navbar-toggler-icon {
  color: white;
}

.nav-icon {
  font-size: 3.6rem;
}

.menu-icon {
  font-size: 3rem;
}

/*************************************************************************/
/* INTRODUCTION SECTION */
.intro-section {
  padding: 7rem 3rem 3rem 3rem;
  margin-top: 9rem;
  width: 80rem;
  height: 60rem;
}

.intro-heading {
  font-size: 5rem;
}

.intro-description {
  font-size: 2.8rem;
  margin-top: 3rem;
}

.section-link {
  color: white;
  text-decoration: none;
  transition: 300ms;
}

.section-link:hover {
  color: white;
}

.intro-btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  background-color: rgba(37, 40, 57, 1);
  border: 2px solid white;
}

.intro-btn:hover,
.intro-btn:active {
  background-color: #2a9eeccd;
  /* border: 2px solid #2a9eeccd; */
}
/* Arrow */
.intro-icon {
  vertical-align: middle;
  font-size: 2rem;
}

.intro-icon:hover {
  transform: rotate(90deg);
  transition: 300ms;
}

/* Adds a small gap between buttons */
.space-left {
  margin-left: 1rem;
}

.space-right {
  margin-right: 1rem;
}

.highlight {
  color: #2aa0ec;
  font-weight: 500;
}
.intro-btns {
  margin-top: 3rem;
}
/*************************************************************************/
/* PROJECT SECTION */
.project-section {
  margin: 0 auto;
  width: 120rem;
  height: 80rem;
  margin-bottom: 40rem;
  /* border: 2px solid #2aa0ec; */
}

.project-image {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  padding: 0;
  /* border: 1px solid #2aa0ec; */
  border-bottom: 1px solid rgba(153, 153, 153, 0.59);
}

/* Project Text */
.project-content {
  margin: 0 auto;
  color: black;
  padding: 2rem;
  width: 80%;
  background-color: white;
  /* border: 2px solid #2aa0ec; */
}

.project-heading {
  font-size: 4.2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
  line-height: 1.8rem;
}

.project-subheading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
  /* color: #2aa0ec; */
  color: #888;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(153, 153, 153, 0.59);
}

.project-description {
  font-size: 2rem;
  line-height: 3rem;
}

/* Will hold our buttons */
.project-btns {
  /* font-size: 3rem; */
  text-align: center;
}

.tech-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: rgba(4, 40, 57, 1);
}
.list-item {
  display: inline-block;

  background-color: #ffc400e8;

  border: 0px solid white;

  padding: 0.4rem 2rem 0.4rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 30px;
  color: rgba(37, 40, 57, 1);
}

.btn-code {
  margin-left: 2rem;
  background-color: #2aa0ec;
}

.btn-site,
.btn-code {
  /* background-color: rgba(37, 40, 57, 1); */
  /* border: 0px solid white; */
  background-color: #2aa0ec;
  border: 0px solid #2aa0ec;

  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  /* border-radius: 30px; */
  border: 2px solid white;
  color: white;
}

.btn-site:hover,
.btn-code:hover {
  background-color: #2794dd;
  /* background-color: white; */
  /* border: 2px solid white; */
  /* color: #2aa0ec; */
}

.project-icon {
  vertical-align: middle;
  font-size: 2.2rem;
  margin-right: 0.5rem;
}

/*************************************************************************/
/* CONTACT ME SECTION */
.contact-section {
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 20px;
  width: 70rem;
  margin-bottom: 12rem;
  background-color: rgba(37, 40, 57, 1);
  border: 3px solid white;
  /* border: 3px solid #2aa0ec; */
}

.contact-header {
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
  /* color: #2aa0ec; */
  color: white;
}

.form-control {
  margin-bottom: 1rem;
}

.form-btn {
  background-color: #2aa0ec;
  width: 50%;
  margin-left: 25%;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  /* color: #2aa0ec; */
  color: white;
}

.form-control {
  background-color: rgb(244, 244, 244);
}

/*************************************************************************/
/* FOOTER SECTION */

.footer-section {
  margin: 0 auto;
  height: 8rem;
  display: flex;
  background-color: rgba(37, 40, 57, 1);
  /* background-color: blueviolet; */
}

.footer-icon {
  vertical-align: middle;
  display: inline-block;
  font-size: 2.2rem;
  padding: 1rem;
  /* border: 2px solid white; */
  border: 2px solid #2aa0ec;
}

.footer-links {
  margin: 0 auto;
}
