/* .navbar-toggler {
  transition: 5500ms;
} */

/* COLORS
BACKGROUND COLOR
rgba(37, 40, 57, 1);

BUTTONS
#2aa0ec
#e3a812;
HOVER/ACTIVE
#2a9eeccd;
#e3a812;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto Slab", sans-serif;
  /* font-family: "League Spartan", sans-serif; */
  /* 1 rem = 10px */
  color: white;

  /* background: linear-gradient(-45deg, #4309ae, #5515cc, #0072fe, #0072fe); */
  background: linear-gradient(-45deg, #00c1df, #0028ff, #000428, #000428, #004e92);
  /* background: linear-gradient(-45deg, #00c1df, #0028ff, #000428, #000428, #0145cce3); */
  /* background-size: 400% 400%; */
  background-size: 125% 125%;
  animation: gradient 10s ease infinite;
  /* animation: gradient 3s ease infinite; */
}

ul {
  padding-left: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* NAVIGATION SECTION */
.navbar {
  color: white;
  background-color: rgba(37, 40, 57, 0.9);
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  opacity: 100%;
}

.navbar-brand {
  color: #e3a812;
  font-size: 3.4rem;
  font-family: "Goblin One", cursive;
}

.navbar-brand:link,
.navbar-brand:visited {
  color: #e3a812;
  text-decoration: solid;
}

.navbar-brand:hover,
.navbar-brand:active {
  color: #e3a812;
  text-decoration: solid;
}

/* Moves nav-items to the right */
.navbar-collapse {
  flex-grow: 0;
}

.menu-divider {
  /* border-bottom: 1px solid #e3a812; */
  border-bottom: 1px solid rgba(233, 233, 233, 0.247);
}

.navbar-nav {
  column-gap: 1.4rem;
  margin-right: 2rem;
  /* border-bottom: 2px solid #e3a812; */
  /* border-top: 2px solid #e3a812; */
}

.nav-link {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link:link,
.nav-link:visited {
  color: white;
  text-decoration: solid;
}
.nav-link:hover,
.nav-link:active {
  color: #e3a812;
  text-decoration: solid;

  transition: 300ms ease-in-out;
}

.nav-icon {
  font-size: 3.6rem;
}

.menu-icon {
  font-size: 2rem;
}

.navbar-toggler {
  /* color: #e3a812; */
  /* color: none; */
  border: none;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

#projects,
#contact {
  scroll-margin-top: 100px;
}

#about {
  scroll-margin-top: 300px;
}

/*************************************************************************/
/* INTRODUCTION SECTION */
.intro-section {
  text-align: center;
  margin-top: 18%;
  min-height: 80rem;
}

.intro-heading {
  font-size: 5.4rem;
  font-weight: 700;
}

.intro-subheading {
  font-size: 3.2rem;
}

.intro-subheading-2 {
  font-size: 2.8rem;
}

.intro-description {
  font-size: 2.8rem;
  margin-top: 3rem;
}

.section-link {
  color: white;
  text-decoration: none;
  transition: 300ms;
}

.section-link:hover {
  color: white;
}

.intro-btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  background-color: rgba(37, 40, 57, 1);
  border: 2px solid white;
  transition: 300ms ease-in-out;
}

.intro-btn:hover,
.intro-btn:active {
  /* DARK THEME */
  background-color: #e3a812;
  border: 2px solid transparent;
  /* LIGHT THEME */
  /* background-color: #2a9eeccd; */
}
/* Arrow */
.intro-icon {
  vertical-align: middle;
  font-size: 2rem;
}

.intro-btn:hover .intro-icon {
  transform: rotate(90deg);
  transition: 300ms;
}

.intro-link-icons {
  vertical-align: middle;
  font-size: 3rem;
  color: #e3a812;
}

.intro-link-icons:hover,
.intro-link-icons:active {
  color: #ffb700;
}

/* Adds a small gap between buttons */
.space-left {
  margin-left: 1rem;
}

.space-right {
  margin-right: 1rem;
}

.highlight {
  font-weight: 500;

  /* DARK THEME */
  /* color: #e3a812; */
  color: #ffb700;

  /* LIGHT THEME */
  /* color: #2aa0ec; */
}
.intro-btns {
  margin-top: 3rem;
  gap: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

/* TESTING FADE IN */
.fade-in {
  /* COMPLETES FADE IN 5 SECS */
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

/* WILL BE USED TO FADE IN OUR INTRO AND ABOUT SECTION */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*************************************************************************/
/* ABOUT SECTION */
.about-section {
  margin: 0 auto;
  max-width: 110rem;
  min-height: 60rem;
}

.about-header {
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: "Goblin One", cursive;
}

.about-description {
  margin: 0 auto;
  font-size: 2.8rem;
  width: 80%;
  padding-top: 5rem;
  line-height: 5rem;
}

/*************************************************************************/
/* PROJECT SECTION */
.section-header {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 5rem;
  /* Increase later */
  font-size: 3rem;

  color: white;
  margin-left: 3rem;
  font-family: "Goblin One", cursive;
}

.project-section {
  margin: 0 auto;
  min-width: 100%;
  margin-bottom: 40rem;
}

.project-image {
  margin: 0 auto;
  max-width: 80rem;
  border-radius: 20px;
  margin-bottom: 1.2rem;
  padding-left: 0;
  padding-right: 0;
  /* border-bottom: 1px solid rgba(153, 153, 153, 0.59); */
}

/* Project Text */
.project-content {
  margin: 0 auto;
  color: black;
  padding: 1.2rem;
  max-width: 80rem;
  border-radius: 10px;

  /* DARK THEME */
  background-color: rgba(37, 40, 57, 1);
  border: 2px solid white;

  /* LIGHT THEME */
  /* background-color: white; */

  /* FOR LAYOUT PURPOSES */
  /* border: 2px solid #2aa0ec; */
}

.project-heading {
  font-size: 2.6rem;
  margin-bottom: 1.4rem;
  text-align: center;
  line-height: 1.8rem;
  /* DARK THEME */
  color: white;

  /* LIGHT THEME */
  /* color: #333; */
}

.project-subheading {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding-bottom: 1rem;

  /* DARK THEME */
  border-bottom: 1px solid rgba(255, 255, 255, 0.93);
  color: rgb(202, 202, 202);

  /* LIGHT THEME */
  /* border-bottom: 1px solid rgba(153, 153, 153, 0.59);
  color: #888; */

  /* FOR LAYOUT PURPOSES */
  /* color: #2aa0ec; */
}

.project-description {
  text-align: center;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-top: 2rem;
  /* DARK THEME */
  color: white;
}

/* Will hold our buttons */
.project-btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tech-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: rgba(37, 40, 57, 1);
}

.list-item {
  display: inline-block;
  min-width: 8.6rem;
  background-color: #ffc400e8;
  text-align: center;
  border: 0px solid white;

  padding: 0.4rem 2rem 0.4rem 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 30px;
  color: rgba(37, 40, 57, 1);
}

/* BUTTON CUSTOMIZATION */
.btn-site,
.btn-code,
.btn-description,
.modal-close {
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: 2px solid white;
  color: white;

  /* DARK THEME */
  background-color: rgba(37, 40, 57, 1);
  border: 2px solid white;

  transition: 300ms ease-in-out;
  /* LIGHT THEME */
  /* background-color: #2aa0ec;
  border: 0px solid #2aa0ec; */
}

/* BUTTON ICON */
.project-icon {
  vertical-align: middle;
  font-size: 2rem;
  margin-right: 1.2rem;
}

/* Spacing for modal window button */
.modal-close {
  margin: 1rem 1rem 1rem 1rem;
}

.btn-site:hover,
.btn-code:hover,
.btn-description:hover,
.modal-close:hover {
  /* DARK THEME */
  background-color: #e3a812;
  border: 2px solid transparent;

  /* LIGHT THEME */
  /* background-color: #2794dd; */
}

/* PROJECT DESCRIPTION - MODAL BODY */
.modal-content {
  /* DARK THEME */
  background-color: rgba(37, 40, 57, 1);
}

.modal-title {
  font-size: 2.6rem;

  /* DARK THEME */
  /* color: white; */
  color: #e3a812;
}

.modal-body {
  font-size: 2rem;

  /* DARK THEME */
  color: white;
}

.modal-topic {
  font-size: 2rem;
  font-weight: 600;

  /* DARK THEME */
  color: #e3a812;
}

.modal-explanation {
  font-size: 1.6rem;
}
.modal-divider {
  /* DARK THEME */
  border-bottom: 1px solid white;

  /* LIGHT THEME */
  /* border-bottom: 1px solid rgba(49, 49, 49, 0.458); */
  margin-bottom: 1rem;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  font-size: 1.6rem;
  /* list-style: inside; */
}

.features-icon {
  color: #e3a812;
  margin-right: 0.5rem;
}
/*************************************************************************/
/* CONTACT ME SECTION */
.contact-section {
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 20px;
  max-width: 70rem;
  margin-bottom: 12rem;
  background-color: rgba(37, 40, 57, 1);
  border: 3px solid white;
  /* border: 3px solid #2aa0ec; */
}

.contact-header {
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
  /* color: #2aa0ec; */
  color: white;
}

.form-control {
  margin-bottom: 1rem;
  background-color: #000428;
  color: #333;
  border-bottom: 3px solid #e3a812;
}

.form-btn {
  /* background-color: #2aa0ec; */
  width: 50%;
  margin-left: 25%;
  margin-top: 1rem;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 700;
  /* background-color: #e3a812;
  border: 1px solid #e3a812; */
  /* background-color: rgb(255 167 0); */
  /* background-color: rgb(255, 196, 0); */
  background-color: rgb(0, 0, 0, 0);
  /* background-color: rgb(255 167 0); */

  /* border: 1px solid rgb(255 167 0); */
  border: 2px solid rgb(251 178 0);
  color: rgb(251 178 0);
  padding: 1rem 1rem 1rem 1rem;
  transition: 0.2s ease-in-out;
}

.form-btn:hover {
  background-color: rgb(251 178 0);
  transform: scale(1.1);
  color: #333;
}

.form-btn:active {
  background-color: rgb(226, 139, 0);
  border: 2px solid rgb(226, 139, 0);
  transform: scale(1);
}

.form-btn:link,
.form-btn:visited {
  background-color: #c59210;
  border: 1px solid #e3a812;
}

label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  /* color: #2aa0ec; */
  color: white;
}

.form-control {
  background-color: rgb(244, 244, 244);
}

/*************************************************************************/
/* FOOTER SECTION */

.footer-section {
  display: flex;
  justify-content: center;
  min-height: 7rem;
  background-color: rgba(37, 40, 57, 1);
}

.footer-links {
  display: flex;
  column-gap: 4px;
  padding-top: 8px;
}

.link-icon-container,
.intro-link-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52px;
  height: 47px;
  padding: 2px;
  transition: 300ms ease-in-out;
}

.link-icon-container {
  border: 2px solid white;
}

.link-icon-container:hover,
.link-icon-container:active {
  color: #ffb700;
  border: 2px solid #ffb700;
  transition: 300ms ease-in-out;
}

/* .no-border-l-r {
  border-left: 0px;
  border-right: 0px;
} */

/* Logo Icon */
.link-icon {
  vertical-align: middle;
  display: inline-block;
  font-size: 2.2rem;

  /* EDITS */
  padding: 1px;
  /* padding: 1rem; */

  /* border: 2px solid white; */
  color: white;
  transition: 300ms ease-in-out;
  /* border: 2px solid #2aa0ec; */
}

a {
  text-decoration: none;
}

.link-icon-container:hover,
.link-icon-container:hover > .link-icon,
.link-icon-container:hover > .link-icon-text {
  transition: 300ms ease-in-out;
  color: #ffb700;
}

.footer-icons:hover,
.footer-icons:active {
  color: #ffb700;
  border: 2px solid #ffb700;
}

.link-icon-text,
.intro-link-icon-text {
  text-align: center;
  color: white;
  transition: 300ms ease-in-out;
}

.intro-link-icon-text {
  color: #ffb700;
}

/***********************************************************/
/* MEDIA QUERIES */
@media (min-width: 1201px) {
  .project-image {
    width: 90vw;
  }
}

@media (max-width: 1200px) {
  .section-header {
    text-align: center;
  }

  /* PROJECT SECTION */
  .project-image {
    max-width: 76rem;
  }

  .project-content {
    max-width: 75rem;
  }

  .list-item {
    font-size: 1.2rem;
  }

  .project-description {
    font-size: 1.6rem;
  }

  .btn-code,
  .btn-site,
  .btn-description {
    font-size: 1.2rem;
  }

  .project-icon {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .about-header {
    font-size: 3.6rem;
  }

  .about-description {
    font-size: 2.2rem;
  }

  /* PROJECT SECTION */
  .project-image {
    max-width: 80vw;
  }

  .project-content {
    max-width: 80vw;
  }

  /* CONTACT FORM */
  .contact-section {
    max-width: 56rem;
  }
}

/* STOPPED HERE AT 768px */
@media (max-width: 768px) {
  .intro-section {
    margin-top: 22%;
  }

  /* PROJECT SECTION */
  .project-btns {
    gap: 1rem;
  }

  .btn-code,
  .btn-site,
  .btn-description {
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  }

  .list-item {
    font-size: 1rem;
  }

  /* CONTACT FORM */
  .contact-section {
    max-width: 95%;
  }

  .row {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  /* INTRO SECTION */
  .intro-heading {
    font-size: 3.2rem;
  }

  .intro-subheading {
    font-size: 2.4rem;
    padding-left: 5rem;
    padding: 0rem 3rem 0rem 3rem;
  }

  .intro-subheading-2 {
    font-size: 2rem;
  }

  .intro-btn {
    font-size: 1.2rem;
  }

  /* ABOUT SECTION */
  .about-header {
    font-size: 3.2rem;
  }

  .about-description {
    font-size: 2rem;
    line-height: 4rem;
  }

  /* PROJECT SECTION */
  .project-image {
    max-width: 95vw;
  }

  .project-content {
    max-width: 95vw;
  }

  .tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;
    margin: 0 auto;
  }

  .list-item:nth-child(1),
  .list-item:nth-child(3) {
    justify-self: right;
  }

  .list-item:nth-child(2),
  .list-item:nth-child(4) {
    justify-self: left;
  }

  /* PROJECT BTNS */
  .project-btns {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.8rem;
  }

  .btn-description {
    width: 65%;
    /* width: 100%; */
  }

  button.btn-code,
  button.btn-site {
    width: 100%;
  }

  a.click-zone {
    width: 65%;
  }
}

@media (max-width: 475px) {
  .intro-section {
    margin-top: 30%;
  }
  .intro-heading {
    font-size: 2.6rem;
  }

  .intro-subheading {
    font-size: 2.2rem;
    padding-left: 5rem;
    padding: 0rem 3rem 0rem 3rem;
  }

  .intro-subheading-2 {
    font-size: 1.8rem;
  }

  .intro-btn {
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  /* ABOUT SECTION */
  .about-header {
    font-size: 2.6rem;
  }

  .about-description {
    font-size: 1.6rem;
    padding-top: 2rem;
  }

  /* PROJECT SECTION */

  .btn-description {
    width: 75%;
  }

  a.click-zone {
    width: 75%;
  }

  /* CONTACT FORM */
  .contact-section {
    min-width: 23rem;
    padding: 1rem 1.2rem 1rem 1.2rem;
  }
}

@media (max-width: 375px) {
  .intro-section {
    margin-top: 35%;
  }

  .intro-heading {
    font-size: 2rem;
  }

  .intro-subheading {
    font-size: 1.8rem;
    padding-left: 5rem;
    padding: 0rem 3rem 0rem 3rem;
  }

  .intro-subheading-2 {
    font-size: 1.6rem;
  }

  .intro-btn {
    font-size: 0.8rem;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  }

  /* PROJECT SECTION */
  .project-image {
    max-width: 93vw;
  }

  .project-content {
    max-width: 93vw;
  }

  .btn-description {
    width: 90%;
  }

  button.btn-code,
  button.btn-site {
    width: 100%;
  }

  a.click-zone {
    width: 90%;
  }

  .list-item {
    width: 70%;
  }
  .section-header {
    margin-left: 0;
  }
}
